<!--modal starts-->
<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left modal-primary">Alert</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
                    <span aria-hidden="true">&nbsp;&nbsp;&times;&nbsp;&nbsp;</span>
                </button>
            </div>
            <div class="modal-body">
                {{myMessage}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="staticModal.hide()">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="page login-page">
    <div class="container">
        <div class="form-outer text-center d-flex align-items-center" style="margin-left: 310px;">
            <div class="form-inner" style="width: 500px;">
                <div class="logo text-uppercase">
                    <strong class="text-primary">EPMS</strong>
                </div>
                <ul class="nav nav-pills nav-justified" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" href="#User" data-toggle="tab" role="tab">User Info</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Company" data-toggle="tab" role="tab">Company Info</a>
                    </li>

                </ul>
                <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">


                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="User" role="tabpanel">

                            <div class="form-group-material">
                                <input [formControl]="firstName" type="text" name="firstName" required class="input-material">
                                <label for="firstName" class="label-material">first Name</label>
                                <span *ngIf="!firstName.valid && firstName.touched && firstName.value.length < 4 " class="help-block sub-little-text" style="color:red">Minimum 4 characters required</span>

                            </div>
                            <div class="form-group-material">
                                <input [formControl]="lastName" type="text" name="lastName" required class="input-material">
                                <label for="lastName" class="label-material">last Name</label>
                                <span *ngIf="!lastName.valid && lastName.touched && lastName.value.length < 4 " class="help-block sub-little-text" style="color:red">Minimum 4 characters required</span>

                            </div>
                            <div class="form-group-material">
                                <input [formControl]="email" type="email" name="email" required class="input-material">
                                <label for="email" class="label-material">email</label>
                                <span *ngIf="!email.valid && email.touched " class="help-block sub-little-text" style="color:red">Enter a valid Address</span>

                            </div>
                            <div class="form-group-material">
                                <select [formControl]="timezone" class="form-control" id="sel1">
                                    <option value="">-- Select TimeZone--</option>
                                    <option value="{{t.timezoneId}}" *ngFor=" let t of timezoneData">{{t.gmtValue}}</option>

                                </select>

                                <span *ngIf="!timezone.valid && timezone.touched && timezone.value.length < 4 " class="help-block sub-little-text" style="color:red">Timezone is required</span>

                            </div>
                            <div class="form-group-material">
                                <input [formControl]="newPassword" type="password" name="password" required class="input-material">
                                <label for="newPassword" class="label-material">password</label>
                                <span *ngIf="!newPassword.valid && newPassword.touched  " class="help-block sub-little-text" style="color:red">Minimum length is 4 charecters.</span>

                            </div>
                            <div class="form-group-material">
                                <input [formControl]="repeatPassword" type="password" name="repeatPassword" required class="input-material">
                                <label for="repeatPassword" class="label-material">confirm password</label>
                                <span *ngIf="!passwords.valid && (newPassword.touched || repeatPassword.touched)" class="help-block sub-little-text" style="color:red">Passwords don't match.</span>

                            </div>

                        </div>
                        <div class="tab-pane" id="Company" role="tabpanel">
                            <div class="form-group-material">
                                <input [formControl]="companyName" type="text" name="companyName" required class="input-material">
                                <label for="companyName" class="label-material">company name</label>
                                <span *ngIf="!companyName.valid && companyName.touched && companyName.value.length < 4 " class="help-block sub-little-text" style="color:red">Minimum 4 characters required</span>

                            </div>

                            <div class="form-group-material">
                                <h3>Pick Holiday:</h3>

                                <div class="col-md-12 col-lg-12 col-sm-12">
                                    <div>
                                        <div class="row">
                                            <div>
                                                <table class="table">
                                                    <tr>
                                                        <td>
                                                            <input [formControl]="mondayCBox" type="checkbox" name="mondayCBox" id="mondayCBox">
                                                            <br>
                                                            <label for="munday">Monday</label>
                                                        </td>
                                                        <td>
                                                            <input [formControl]="tuesdayCBox" type="checkbox" name="tuesdayCBox" id="tuesdayCBox">
                                                            <label for="tuesday">Tuesday</label>
                                                        </td>
                                                        <td>
                                                            <input [formControl]="wedCBox" type="checkbox" name="wedCBox" id="wedCBox">
                                                            <label for="wednesday">Wednesday</label>

                                                        </td>
                                                        <td>
                                                            <input [formControl]="thursdayCBox" type="checkbox" name="thursdatCBox" id="thursdatCBox">
                                                            <label for="thursday">Thursday</label>
                                                        </td>
                                                    </tr>
                                                    <tr>

                                                        <td>
                                                            <input [formControl]="fridayCBox" type="checkbox" name="fridayCBox" id="fridayCBox">
                                                            <label for="friday">Friday</label>

                                                        </td>
                                                        <td>
                                                            <input [formControl]="saturdayCBox" type="checkbox" name="saturdayCBox" id="saturdayCBox">
                                                            <label for="saturday">Saturday</label>
                                                            <br>
                                                        </td>

                                                        <td>
                                                            <input [formControl]="sundayCBox" type="checkbox" name="sundayCBox" id="SundayCBox">
                                                            <br>
                                                            <label for="sunday">Sunday</label>
                                                        </td>

                                                    </tr>
                                                </table>








                                            </div>

                                        </div>

                                    </div>
                                </div>

                            </div>



                        </div>


                        

                    </div>

                    <div class="terms-conditions d-flex justify-content-center">
                        <input id="license" type="checkbox" class="form-control-custom">
                        <label for="license">Agree the terms and policy</label>
                      </div>
                      <button [disabled]="!form.valid" type="submit" class="btn btn-primary">
                        <i class="fa fa-user-plus" aria-hidden="true"></i>
                        <i [ngClass]="{'fa fa-spinner fa-spin': changeClass}"></i>
                        Register</button> <br>

                </form><small>Already have an account? </small><a routerLink="../login" class="signup">Login</a>
            </div>
        </div>
        <div class="copyrights text-center">
                <p>Design by
                    <a href="https://afz-sol.com" class="external">Afz-Sol</a>
                </p>
                <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
            </div>
    </div>
</div>