h4 {
    font-size:18px;
    font-weight:bold;
}
.fa-spin-custom, .glyphicon-spin {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}
.navbar-custom {
    color: #F8F8F8;
    background-color:#E6E6E6;
}

#register a{
    text-decoration: none;
    color:white;
    font-size: 20px;
}