<!-- <div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left modal-primary">Alert</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
                    <span aria-hidden="true">&nbsp;&nbsp;&times;&nbsp;&nbsp;</span>
                </button>
            </div>
            <div class="modal-body">
                {{myMessage}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="staticModal.hide()">Close</button>
            </div>
        </div>
    </div>
</div> -->

<div class="row">

    <!-- Pie Chart-->
    <div class="col-lg-12 col-md-12">
        <div class="card project-progress">
            <h2 class="display h4">
                <i class="fa fa-list"></i>&nbsp;Pick a Holiday</h2>

            <form #myForm="ngForm">
                <div class="form-group-material">
                    <input type="text" name="holidayTitle" [(ngModel)]="model.HolidayTitle" required class="input-material">
                    <label for="holidayTitle" class="label-material">Holiday Title</label>
                    <!-- <span *ngIf="!holidayTitle.valid && holidayTitle.touched " class="help-block sub-little-text" style="color:red">Enter a valid Address</span> -->
                </div>

                <div class="form-group-material">

                    <label for="form">Pick Holidays"</label>
                    <my-date-picker class="input-material" name="mydate" [options]="myDatePickerOptions" 
                    (ngModelChange)="onSubmit($event)" [(ngModel)]="model.date"
                        required></my-date-picker>
                    <small style="font-size:10px">(you can pick multiple dates and than click submit.)</small>

                </div>

           </form>

        </div>
    </div>
</div>