.btn-group .button {
  border-radius: 60px;
  
}
.btn-group .button:first-child {
    border-radius: 6px 0 0 6px;
}
.btn-group .button:last-child {
    border-radius: 6px;
    margin-left: -1px;
}
/*.button {
    padding: 10px;
    background: teal;
    border: 1px Black solid;
    color: #FFF;
}*/
article {
    padding: 10px;
    margin-bottom: 50px;
}
/*.btn-group .button:only-child {
    border-radius: 6px;
    margin-left: 0;
}*/
