
    <div id="top" class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left modal-primary">Allert</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
          <span aria-hidden="true">&nbsp;&nbsp;&times;&nbsp;&nbsp;</span>
        </button>
            </div>
            <div class="modal-body">
                {{myMessage}}
            </div>
             <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="staticModal.hide()">Close</button>
      </div>
        </div>
    </div>
</div>

    <!-- /.row -->
<div *ngIf="triggerk" class="alert alert-success alert-dismissable">
    <a href="#" class="close" data-dismiss="alert"  aria-label="close">&times;</a>
    <i class="fa fa-comment fa-fw"></i>
    <strong>{{myMessage}}</strong>
</div>
    

<div class="row">

	<!-- Pie Chart-->
	<div class="col-lg-12 col-md-12">
		<div class="card project-progress">
			<h2 class="display h4">
				<i class="fa fa-lock"></i>&nbsp;Change Password</h2>

			<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
				<div class="form-group-material" >
					<input disabled="true" [formControl]="oldPassword" type="password" name="oldPassword" required class="input-material">
					<!-- <label for="oldPassword" class="label-material"></label> -->
					<!-- <span *ngIf="!oldPassword.valid && oldPassword.touched " class="help-block sub-little-text" style="color:red">Enter a valid Address</span> -->
                </div>
                <div class="form-group-material" >
					<input required [formControl]="newPassword" type="password" name="newPassword" required class="input-material">
					<label for="newPassword" class="label-material">new Password</label>
					<span *ngIf="!newPassword.valid && newPassword.touched " class="help-block sub-little-text" style="color:red">Enter a valid Address</span>
                </div>
                <div class="form-group-material" >
					<input required [formControl]="repeatPassword"  type="password" name="repeatPassword" required class="input-material" [ngClass]="{'has-error': (!repeatPassword.valid && repeatPassword.touched), 'has-success': (repeatPassword.valid && repeatPassword.touched)}">
					<label for="repeatPassword" class="label-material">confirm Password</label>
					<span *ngIf="!repeatPassword.valid && repeatPassword.touched " class="help-block sub-little-text" style="color:red">Enter a valid Address</span>
				</div>
				<div class="form-group-material">
						<div class="col- offset-sm-9 col-sm-12">

						</div>
						<button type="submit" [disabled]="!form.valid" class="btn btn-success pull-right " style="margin-right: 15px;"> <i [ngClass]="{'fa fa-spinner fa-spin': changeClass}"></i>Update</button>
						
					</div>
			</form>


		</div>
	</div>
</div>

