<!--delete model-->
<div class="modal fade" bsModal #staticModal2="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title pull-left">Delete alert..!</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal2.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      {{myMessage}}

      <div class="pull-right">
        <button type="button" class="btn btn-success btn-sm" (click)="staticModal2.hide()">No</button>
        <button type="button" class="btn btn-danger btn-sm" (click)="OndeleteUser();staticModal2.hide()">Yes</button>

      </div>
    </div>

  </div>
</div>
</div>




<div class="row">
    <h3 class="page-header"><i class="fa fa-dashboard fa-fw"></i>Admin area</h3>
</div>

<div>
    <div class="row" *ngIf="!showForm">
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of allUser">
                        <td *ngIf="user.id">{{user.id}}</td>
                        <td *ngIf="user.firstName">{{user.firstName}}</td>
                        <td *ngIf="user.lastName">{{user.lastName}}</td>
                        <td  *ngIf="user.email">{{user.email}}</td>
                        <td *ngIf="!user.roles[0]" style="color:red;font-weight:bold;text-align:center">NA</td>
                        <td *ngIf="user.roles[0]">{{user.roles[0].code}}</td>
                        <td *ngIf="user.status">{{user.status}}</td>
                        <td *ngIf="user.id"><button class="btn btn-primary" (click)="showForm=true;editForm(user)">Edit </button></td>
                        <td><button class="btn btn-danger" (click)="deleteTimecard(user)">Delete </button></td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>


</div>
<!-- /.row -->


<div class="row" *ngIf="showForm">
    <div class="col-md-6 col-lg-6 col-sm-6 col-offset-md-3 col-lg-offset-3 col-sm-offset-3">
        <form class="form" action="">
            <div class="form-group">
                <label for="firstName">First Name :</label>
                <input type="text" disabled name="firstName" class="form-control" [(ngModel)]="userModel.firstName">
            </div>
            <div class="form-group">
                <label for="lastName">Last Name :</label>
                <input class="form-control" disabled type="text" name="lastName" [(ngModel)]="userModel.lastName">
            </div>
            <div class="form-group">
                <label for="email">Email :</label>
                <input class="form-control" disabled type="text" name="email" [(ngModel)]="userModel.email">
            </div>
            <div class="form-group"  *ngIf="userModel.userRole != 'NA'">
                <label for="userRole">User Role</label>
                <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="userModel.userRole">
                <option  *ngFor="let role of userRoles" [ngValue]=role.code>{{role.label}}</option>
                <!-- <option value="ROLE_USER">User</option>
                <option value="ROLE_ADMIN">Admin</option>
                <option value="ROLE_MANAGER">Manager</option>
                <option value="ROLE_SUPER_ADMIN">Super Admin</option> -->
                
            </select>
            </div>
            <div class="form-group">
                <label for="status">Status</label>
                <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="userModel.status">
                        <option value="PENDING">Pending</option>
                        <option value="ACTIVE">Active</option>
                    </select>
            </div>
            <button type="submit" (click)="showForm=false;onSubmit(userModel)" class="btn btn-default">Submit</button>
        </form>

    </div>
</div>