<div class="container">
	<div class="row">
		<nav class="navbar navbar-default">

			<div class="navbar-header">
				<a class="navbar-brand" routerLink="../home">EPMS</a>
			</div>
			<ul class="nav navbar-nav">
				<li class="#"><a routerLink="../home">Tour</a></li>
				<li><a routerLink="../pricing">Pricing</a></li>

			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a routerLink="../register"><span class="fa fa-user-plus"></span> Sign Up</a></li>
				<li><a routerLink="../login"><span class="fa fa-sign-in"></span> Login</a></li>
			</ul>

		</nav>

	</div>

	<div class="row" >

		<div class="cd-pricing-container cd-full-width cd-secondary-theme" style="background-color:#0C1F28">
			<div class="cd-pricing-switcher" style="padding-top:60px">
				<p class="fieldset">
					<input type="radio" name="duration" value="monthly" id="monthly" checked>
					<label for="monthly" style="color:yellow">Monthly</label>
					<input type="radio" name="duration" value="yearly" id="yearly">
					<label for="yearly" style="color:yellow">Yearly</label>
					<span class="cd-switch"></span>
				</p>
			</div>
			<!-- .cd-pricing-switcher -->

			<ul class="cd-pricing-list cd-bounce-invert">
				<li>
					<ul class="cd-pricing-wrapper">
						<li data-type="monthly" class="is-visible">
							<header class="cd-pricing-header">
								<h2>Basic</h2>

								<div class="cd-price">
									<span class="cd-currency">$</span>
									<span class="cd-value">30</span>
									<span class="cd-duration">mo</span>
								</div>
							</header>
							<!-- .cd-pricing-header -->

							<div class="cd-pricing-body">
								<ul class="cd-pricing-features">
									<li><em>256MB</em> Memory</li>
									<li><em>1</em> User</li>
									<li><em>1</em> Website</li>
									<li><em>1</em> Domain</li>
									<li><em>Unlimited</em> Bandwidth</li>
									<li><em>24/7</em> Support</li>
								</ul>
							</div>
							<!-- .cd-pricing-body -->


						</li>

						<li data-type="yearly" class="is-hidden">
							<header class="cd-pricing-header">
								<h2>Basic</h2>

								<div class="cd-price">
									<span class="cd-currency">$</span>
									<span class="cd-value">320</span>
									<span class="cd-duration">yr</span>
								</div>
							</header>
							<!-- .cd-pricing-header -->

							<div class="cd-pricing-body">
								<ul class="cd-pricing-features">
									<li><em>256MB</em> Memory</li>
									<li><em>1</em> User</li>
									<li><em>1</em> Website</li>
									<li><em>1</em> Domain</li>
									<li><em>Unlimited</em> Bandwidth</li>
									<li><em>24/7</em> Support</li>
								</ul>
							</div>
							<!-- .cd-pricing-body -->


						</li>
					</ul>
					<!-- .cd-pricing-wrapper -->
				</li>

				<li class="cd-popular">
					<ul class="cd-pricing-wrapper">
						<li data-type="monthly" class="is-visible">
							<header class="cd-pricing-header">
								<h2>Popular</h2>

								<div class="cd-price">
									<span class="cd-currency">$</span>
									<span class="cd-value">60</span>
									<span class="cd-duration">mo</span>
								</div>
							</header>
							<!-- .cd-pricing-header -->

							<div class="cd-pricing-body">
								<ul class="cd-pricing-features">
									<li><em>512MB</em> Memory</li>
									<li><em>3</em> Users</li>
									<li><em>5</em> Websites</li>
									<li><em>7</em> Domains</li>
									<li><em>Unlimited</em> Bandwidth</li>
									<li><em>24/7</em> Support</li>
								</ul>
							</div>
							<!-- .cd-pricing-body -->


						</li>

						<li data-type="yearly" class="is-hidden">
							<header class="cd-pricing-header">
								<h2>Popular</h2>

								<div class="cd-price">
									<span class="cd-currency">$</span>
									<span class="cd-value">630</span>
									<span class="cd-duration">yr</span>
								</div>
							</header>
							<!-- .cd-pricing-header -->

							<div class="cd-pricing-body">
								<ul class="cd-pricing-features">
									<li><em>512MB</em> Memory</li>
									<li><em>3</em> Users</li>
									<li><em>5</em> Websites</li>
									<li><em>7</em> Domains</li>
									<li><em>Unlimited</em> Bandwidth</li>
									<li><em>24/7</em> Support</li>
								</ul>
							</div>
							<!-- .cd-pricing-body -->


						</li>
					</ul>
				</li>
				<!-- .cd-pricing-wrapper -->

				<li>
					<ul class="cd-pricing-wrapper">
						<li data-type="monthly" class="is-visible">
							<header class="cd-pricing-header">
								<h2>Premier</h2>

								<div class="cd-price">
									<span class="cd-currency">$</span>
									<span class="cd-value">90</span>
									<span class="cd-duration">mo</span>
								</div>
							</header>
							<!-- .cd-pricing-header -->

							<div class="cd-pricing-body">
								<ul class="cd-pricing-features">
									<li><em>1024MB</em> Memory</li>
									<li><em>5</em> Users</li>
									<li><em>10</em> Websites</li>
									<li><em>10</em> Domains</li>
									<li><em>Unlimited</em> Bandwidth</li>
									<li><em>24/7</em> Support</li>
								</ul>
							</div>
							<!-- .cd-pricing-body -->


						</li>

						<li data-type="yearly" class="is-hidden">
							<header class="cd-pricing-header">
								<h2>Premier</h2>

								<div class="cd-price">
									<span class="cd-currency">$</span>
									<span class="cd-value">950</span>
									<span class="cd-duration">yr</span>
								</div>
							</header>
							<!-- .cd-pricing-header -->

							<div class="cd-pricing-body">
								<ul class="cd-pricing-features">
									<li><em>1024MB</em> Memory</li>
									<li><em>5</em> Users</li>
									<li><em>10</em> Websites</li>
									<li><em>10</em> Domains</li>
									<li><em>Unlimited</em> Bandwidth</li>
									<li><em>24/7</em> Support</li>
								</ul>
							</div>
							<!-- .cd-pricing-body -->


						</li>
					</ul>
					<!-- .cd-pricing-wrapper -->
				</li>
			</ul>
			<!-- .cd-pricing-list -->

			<hr/>
			<footer style="color:#ffffff;padding-left:40px;">
				<small>All rights reserved by AFZ-sol.<sup>&reg;</sup></small>
			</footer>
			<hr/>
		</div>
		<!-- .cd-pricing-container -->

	</div>
</div>