<div class="container">
     
<div class="row">
      <nav class="navbar navbar-default">
  
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="../home">EPMS</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="#"><a routerLink="../home">Tour</a></li>
      <li><a routerLink="../pricing">Pricing</a></li>
      
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="../register"><span class="fa fa-user-plus"></span> Sign Up</a></li>
      <li><a routerLink="../login"><span class="fa fa-sign-in"></span> Login</a></li>
    </ul>
  
</nav>
    
</div>

    <div class="row" style="background-color:#6666AE">

<div class="col-lg-6 col-lg-offset-1" style="color:white">
            <div>
                <h3>Employee Productivity Management System</h3>

            </div>
            <div style="padding-top:20px;color:white">
                <h4><i class="fa fa-check" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp; Track app usage during working hours</h4>
                <h4><i class="fa fa-check" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp; Monitor activity strength every minute</h4>
                <h4><i class="fa fa-check" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp; Capture screenshots of multiple screens</h4>
                <h4><i class="fa fa-check" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Take web cam images</h4>           
                <h4><i class="fa fa-check" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Analyze graphs for insights</h4>
                
            </div>

        </div>
        <div class="col-lg-5 main">
             <img src="http://afz-sol.com/images/img14.png"  alt="Los Angeles" >
        </div>
        
    </div>
   


<div class="row" style="background-color:#DADADA; padding-top:10px ;text-align:center   ">
 
    

    
    <!--<div class="col-lg-1">
        <a (click)="internalRoute('../home','charts')"><span class="fa fa-bar-chart fa-5x"></span>
        <br/>
        Chatrs</a>
    </div>-->
    <!--<div class="col-lg-1">
        <a (click)="internalRoute('../home','webcam')"><span class="fa fa-camera fa-5x"></span>
        Webcam</a>
    </div>
    <div class="col-lg-1">
        <a (click)="internalRoute('../home','screenshot')"><span class="fa fa-desktop fa-5x"></span>
        <br/>
        Screenshots</a>
    </div>
   
    <div class="col-lg-1">
        <a (click)="internalRoute('../home','timecard')"><span class="fa fa-credit-card fa-5x"></span>
        <br/>
        Timecard</a>
    </div>
    <div class="col-lg-1">
        <a (click)="internalRoute('../home','activity')" ><span class="fa fa-keyboard-o fa-5x"></span>
        <br/>
        Acivities</a>
    </div>
   
   -->
     
   

    <div class="col-lg-1 col-lg-offset-3">
        <a scrollTo scrollTargetSelector="#charts"><span class="fa fa-bar-chart fa-5x"></span>
        <br/>
        Chatrs</a>
    </div>
    <div class="col-lg-1 " >
        <a scrollTo scrollTargetSelector="#tTracker"><span class="fa fa-clock-o fa-5x"></span><br/>
        Time Tracker</a>
    </div>
<div class="col-lg-1">
        <a scrollTo scrollTargetSelector="#webcam"><span class="fa fa-camera fa-5x"></span>
        Webcam</a>
    </div>
    <div class="col-lg-1">
        <a scrollTo scrollTargetSelector="#screenshot"><span class="fa fa-desktop fa-5x"></span>
        <br/>
        Screenshots</a>
    </div>
   
    <div class="col-lg-1">
        <a scrollTo scrollTargetSelector="#timecard"><span class="fa fa-credit-card fa-5x"></span>
        <br/>
        Timecard</a>
    </div>
    <div class="col-lg-1">
        <a scrollTo scrollTargetSelector="#activity" ><span class="fa fa-keyboard-o fa-5x"></span>
        <br/>
        Acivities</a>
    </div>
   
    
</div>

<!--<div class="row" style="padding:20px">
    
</div>-->

<hr/>
 <div id="tTracker" class="row" style="padding:30px;background-color:#E59866  ;color:white">
            <div  class="col-md-5 serviceImg">
                <img class="img-responsive well" src="http://afz-sol.com/images/timer.png" alt="">
            </div>
            <div class="col-md-7" style="text-align:justify">
                <h2>Time Tracker</h2>
             <p>To stay ahead of changing customer demands and steady growth, an ecommerce company engaged with us to develop a scalable IT architecture using an Agile/Scrum process that could facilitate on-the-fly product catalog and feature additions. The new system increased product development and support capabilities and provided the ability to keep pace with evolving best practices in software engineering.</p>
             <p>Our mission is simple: make technology an asset for your business not a problem. We won’t bring you down in the middle of the day because it is “a better time for us”. We work around your business. We strive to make technology integrate seamlessly with your business so your business can grow. As your technology partner, when your business grows ours will grow with you, therefore, we will work hand in hand with you to support your growth  </p>
            </div>
        </div>
<!--<hr/>-->
        <div id="charts"class="row"style="padding:30px;background-color:#5DADE2;color:white">
            
            <div class="col-md-6" style="text-align:justify">
                <h2>Charts</h2>
             <p>To stay ahead of changing customer demands and steady growth, an ecommerce company engaged with us to develop a scalable IT architecture using an Agile/Scrum process that could facilitate on-the-fly product catalog and feature additions. The new system increased product development and support capabilities and provided the ability to keep pace with evolving best practices in software engineering.</p>
             <p>Our mission is simple: make technology an asset for your business not a problem. We won’t bring you down in the middle of the day because it is “a better time for us”. We work around your business. We strive to make technology integrate seamlessly with your business so your business can grow. As your technology partner, when your business grows ours will grow with you, therefore, we will work hand in hand with you to support your growth  </p>
            </div>
            <div class="col-md-6 serviceImg">
                <img class="img-responsive well" src="http://afz-sol.com/images/appChart.png" alt="">
            </div>
        </div>
        <!--<hr/>-->
        <div id="timecard"class="row" style="padding:30px;background-color:#E59866  ;color:white">
            
            <div class="col-md-8" style="text-align:justify">
                <h2>Timecard</h2>
             <p>To stay ahead of changing customer demands and steady growth, an ecommerce company engaged with us to develop a scalable IT architecture using an Agile/Scrum process that could facilitate on-the-fly product catalog and feature additions. The new system increased product development and support capabilities and provided the ability to keep pace with evolving best practices in software engineering.</p>
             <p>Our mission is simple: make technology an asset for your business not a problem. We won’t bring you down in the middle of the day because it is “a better time for us”. We work around your business. We strive to make technology integrate seamlessly with your business so your business can grow. As your technology partner, when your business grows ours will grow with you, therefore, we will work hand in hand with you to support your growth  </p>
            </div>
            <div class="col-md-4 serviceImg">
                <img class="img-responsive well" src="http://afz-sol.com/images/timecard.png" alt="">
            </div>
        </div>
        <!--<hr/>-->
        <div id="webcam"  class="row" style="padding:30px;background-color:#5DADE2;color:white">
            <div class="col-md-3 serviceImg">
                <img class="img-responsive well" src="http://afz-sol.com/images/webcam.png" alt="">
            </div>
            <div class="col-md-9" style="text-align:justify">
                <h2>Webcam </h2>
             <p>To stay ahead of changing customer demands and steady growth, an ecommerce company engaged with us to develop a scalable IT architecture using an Agile/Scrum process that could facilitate on-the-fly product catalog and feature additions. The new system increased product development and support capabilities and provided the ability to keep pace with evolving best practices in software engineering.</p>
             <p>Our mission is simple: make technology an asset for your business not a problem. We won’t bring you down in the middle of the day because it is “a better time for us”. We work around your business. We strive to make technology integrate seamlessly with your business so your business can grow. As your technology partner, when your business grows ours will grow with you, therefore, we will work hand in hand with you to support your growth  </p>
            </div>
            
        </div>
        <!--<hr/>-->
        <div  id="screenshot"class="row" style="padding:30px;background-color:#E59866  ;color:white">
            <div class="col-md-5">
                <img class="img-responsive well" src="http://afz-sol.com/images/screenshots.png" alt="">
            </div>
            <div class="col-md-7" style="text-align:justify">
                <h2>Screenshots</h2>
             <p>To stay ahead of changing customer demands and steady growth, an ecommerce company engaged with us to develop a scalable IT architecture using an Agile/Scrum process that could facilitate on-the-fly product catalog and feature additions. The new system increased product development and support capabilities and provided the ability to keep pace with evolving best practices in software engineering.</p>
             <p>Our mission is simple: make technology an asset for your business not a problem. We won’t bring you down in the middle of the day because it is “a better time for us”. We work around your business. We strive to make technology integrate seamlessly with your business so your business can grow. As your technology partner, when your business grows ours will grow with you, therefore, we will work hand in hand with you to support your growth  </p>
            </div>
        </div>
<!--<hr/>-->
        <div id="activity"  class="row" style="padding:30px;background-color:#5DADE2;color:white">
            
            <div class="col-md-7" style="text-align:justify">
                <h2>Activities</h2>
             <p>To stay ahead of changing customer demands and steady growth, an ecommerce company engaged with us to develop a scalable IT architecture using an Agile/Scrum process that could facilitate on-the-fly product catalog and feature additions. The new system increased product development and support capabilities and provided the ability to keep pace with evolving best practices in software engineering.</p>
             <p>Our mission is simple: make technology an asset for your business not a problem. We won’t bring you down in the middle of the day because it is “a better time for us”. We work around your business. We strive to make technology integrate seamlessly with your business so your business can grow. As your technology partner, when your business grows ours will grow with you, therefore, we will work hand in hand with you to support your growth  </p>
            </div>
            <div class="col-md-5">
                <img class="img-responsive well" src="http://afz-sol.com/images/activity.png" alt="">
            </div>
        </div>

<hr/>
<footer>
    <small>All rights reserved by AFZ-sol.<sup>&reg;</sup></small> 
</footer>
<hr/>
</div>